* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 12px 0px;
  padding-bottom: 200px;
}

h1 {
  /* padding: 12px; */
  /* background-color: #f7e5b3; */
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse
}

thead {
  background-color: #f7e5b3;
  border-bottom: 1px solid gray;
}

td {
  text-align: center;
  padding: 12px;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  /* border: 1px solid #000000; */
}

tr:nth-child(even) {
  background-color: rgb(249, 249, 249);
}

th {
  padding: 12px;
}

button {
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  background-color: #d4aa37;
  cursor: pointer;
  color: white;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 12px 12px;
}

label {
  margin-bottom: 6px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid black;
}

select {
  padding: 12px;
  border-radius: 8px;
}

.chip {
  padding: 6px 12px;
  margin-right: 12px;
  border-radius: 12px;
  background-color: rgb(240, 240, 240);
}

.chip-container {
  margin-top: 20px;
}

.delete-chip {
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(227, 96, 96);
  color: white;
}

.card {
  border: 1px solid rgb(197, 197, 197);
  padding: 16px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bold {
  font-weight: 500;
}

h3 {
  margin-bottom: 8px;
}

.side-link {
  position: fixed;
  left: 0;
  bottom: 0;
  border: 1px solid black;
  padding: 12px 12px 12px 32px;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  background-color: #d4aa37;
  transition: all 0.5s ease-in-out;
  color: black;
  transform: translateX(-20px);
}

.side-link:hover {
  background-color: #8a6e24;
  transform: translateX(0px);
}

.side-link:nth-child(1) {
  bottom: 150px;

}

.side-link:nth-child(2) {
  bottom: 80px;

}

.side-link:nth-child(3) {
  bottom: 10px;
}